<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ernesto Gaberr</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Portafolios de Ernesto Gaberr" />
	<link rel="stylesheet" type="text/css" href="<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,700italic,400,600,300' rel='stylesheet' type='text/css'>" />
	<link rel="stylesheet" type="text/css" href="../../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/styles.css" />
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajos">Trabajos</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		<figure class="Header-imagenContainer">
			<img src="../../static/img/avatar.jpg" alt="imagen personal" class="Header-imagen"/>
			<figcaption class="Header-imagenDescription">
				<a href="http://twitter.com/ernestogaber" target="_black" class="Header-link" />@ernestogaber </a>
			</figcaption>
		<p class="Header-name">Ernesto Alejandro Gaber</p>
		</figure>
	</header>	
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi Perfil</h2>
		<p class="Profile-description">Frontend Developer JR.</p>
		<a class="Profile-link" href="http://facebook.com/ernestogaber" target="_blank">/ernestogaber</a>
		<a class="Profile-link" href="http://github.com/ernestogaber" target="_blank">Github</a>
		<a class="Profile-link" href="http://plus.google.com/+ernestogaber" target="_blank">+Google</a>
	</section> 
	<section id="trabajos" class="Work">
		<h2 class="Work-title u-title">Mi trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../../static/img/thumb1.jpg" alt=""Descripcion"">
				<figcaption class="Work-description">
					Website de mejorando.
					la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../../static/img/thumb2.jpg" alt=""Descripcion"">
				<figcaption class="Work-description">
					Website de mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../../static/img/thumb3.jpg" alt=""Descripcion"">
				<figcaption class="Work-description">
					Website de mejorando.la
				</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../../static/img/thumb3.jpg" alt="Descripcion">
				<figcaption class="Work-description">
					Website de mejorando.la
				</figcaption>
			</figure>
		</article>	
	</section>
	<footer id="contacto" class="Footer">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Contactame!</p>
		<form class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre" />
			<input class="Footer-formInput" type="email" placeholder="E-mail" />
			<textarea class="Footer-formTexte" placeholder="Comentarios"></textarea>
			<button class="Footer-formButton" type="submit">Enviar</button>
		</form>
	</footer>
</body>
</html>